@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div>
    <form id="form">
        <input type="email" id="email" placeholder="email"><br />
        <input type="password" id="password" placeholder="password"><br />
        <input type="button" name="submit" value="Enviar" onclick="Login()">
    </form>
</div>

<script>
    let email = document.querySelector("#email");
    let password = document.querySelector("#password");

    var headers = {
        "Content-Type": "application/json",
        "Access-Control-Origin": "*"
    }
    
    
    function Login() {
        var data = {
            "email": email.value,
            "password": password.value
        }
        fetch("https://localhost:44333/api/usuarios/login", {
            method: "POST",
            headers: headers,
            body: JSON.stringify(data)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                if (data.token) {
                    window.location.href = "https://localhost:44333/";
                    localStorage.setItem('token', data.token);
                }
                else {
                    alert("");
                }
                
            });
    }
</script>                                                                                                                                                                                                                                                                                                                                                                                                                          