@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <title>Consuming JWT with Jquery and Vuejs</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./jqueryCookies.js"></script>
</head>
<body>
    <h1> Consuming JWT with Jquery</h1>
    <form id="form">
        <input type="email" name="email" id="email" value="lineker@hotmail.com">
        <input type="password" name="password" id="password" value="SenhaSecreta#2019">
        <input type="submit" name="submit" value="Log In">
    </form>

</body>
</html>